<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>773530219840-mrbfjb3aaki8kvbv45g7m8bc9vf8n0mq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.773530219840-mrbfjb3aaki8kvbv45g7m8bc9vf8n0mq</string>
	<key>API_KEY</key>
	<string>AIzaSyAxrHdOx-wOSdfs7PprxaNpThvaGbvY5Q8</string>
	<key>GCM_SENDER_ID</key>
	<string>773530219840</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sinut.simpleFlutterFirebaseCrud</string>
	<key>PROJECT_ID</key>
	<string>fir-dev-flutter-project</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-dev-flutter-project.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:773530219840:ios:93189f31431059d17676a5</string>
</dict>
</plist>